body {
    background-color: #444;
    color: white; 
    font-family: 'DM Serif Display', serif;
}

header h1 {
    text-align: center;
    font-size: 50px;
    margin: 100px 0 50px 0;
}

/* list */
.groceryList {
    margin: auto;
    width: 40%;
}

.groceryForm {
    border: 2px solid rgb(218, 217, 217);
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 35px;
    font-size: 20px;
}

.groceryItem {
    border: 2px solid rgb(218, 217, 217);
    margin-bottom: 15px;
    margin-top: 50px;
    border-radius: 5px;
    padding: 20px;
    font-size: 20px;
} 

input, select {
    background-color: #444;
    color: white;
    border: solid 1px white;
    border-radius: 5px;
    font-family: 'DM Serif Display', serif;
    font-size: 25px;
    margin: 15px 0; 
    width: 610px;
    font-size: 15px;
    padding: 5px; 
}

.groceryList i {
    display: inline;
    float: right;
    color: #adacac;
    background-color: #444;
    margin-top: 25px;
}
 
p {
    font-size: medium;
    margin-top: 5px;
}

button {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    border: solid 1px #444;
    background-color: white;
    color: #444;
    border-radius: 5px;
    padding: 5px 15px;
    margin-top: 10px;
}

button:hover {
    background-color: rgb(136, 234, 225);
}